.mainDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  div {
    flex: 1;
    margin: auto;
  }
  button {
    margin-right: auto;
    display: flex;
    border-radius: 50%;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: black;
  }
}
.createShift {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.form-cmp.displayShiftWrapper {
  padding: 0;
}
